 /* Reset default styles */
 body, h1, h2, h3, p, ul, li, a, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #e4e4e4;
  color: #0e0d0d;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Here */

.logo img {
  height: 40px;
  margin-left:5px;
}

/* Al-Mamoura Logo text */

.logo-text {
  margin-right: 10px; /* Adjust the spacing as needed */
  vertical-align: center; /* Align vertically with the logo */
}


.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  color: #050404;
  text-decoration: none;
}


/* Welcome To Al-Mamoura */

.hero {
  text-align: center;
  padding: 100px 0;
  background-color: #a80e0e;
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Lear More & Get Started btn */

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fff;
  color: #d41c0c;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f2f2f2;
}

/* Link and photos of the main product */

.services {
  padding: 80px 0;
  text-align: center;
}

.services h2 {
  margin-bottom: 40px;
}

.service-item {
  margin-bottom: 40px;
}

.service-item img {
  height: 100px;
  margin-bottom: 20px;
}

/* About Us first Page */

.about {
  padding: 80px 0;
  text-align: center;
}

.about h2 {
  margin-bottom: 40px;
}

.about p {
  margin-bottom: 20px;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

/* Footer */

.contact {
  padding: 80px 0;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.contact h2 {
  margin-bottom: 40px;
}

.contact p {
  margin-bottom: 40px;
}

.email {
  color: #fff;
  text-decoration: none;
}


.container input[type="text"],
.container textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}


/* For the contact   */
.from_container {
  display: flex;
  justify-content: flex-end;
}

.from_container form {
  width: 250px;
  position: right;

  right: 30px from end ;

}





/* For the Full ontact Page  */

.fcf-form-class {
  width: 40%; /* Adjust the width as per your preference */
  margin-left: auto;
  margin-right: 0;
}

.fcf-form-group {
  margin-bottom: 20px;
}

/* This to Make it left the above code */


#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
  float: right;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}



/* Whatsapp Icon */

.whatsapp-icon {
  width: 40px;
  height: 40px;

  margin-left: 5px;
  /* mix-blend-mode: color; */
}

.Facebook-icon{
  width: 40px;
  height: 40px;

  margin-left: 5px;
  /* mix-blend-mode: color; */
  
}


/* Google Map size  */

.map-container {
  width: 100%;
}


/* The explenation Term */

.This_Explain {
  float: left;
  width: 50%; /* Adjust the width as needed */
  margin-right: 20px; /* Add some spacing between the explanation and the form */
  font-weight: 100;
}

.This_Explain h4 {
  font-weight: 200;/* Remove the font-weight property */
}

.This_Explain {

  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-display: pargraphs;
}

.fcf-h3{
font-size: x-large;
font-family: Georgia, serif;
font-style:inherit;

}


/*  Form Fonts */

.fcf-labelp{
font-style: bold;

}



/* Clear the float to ensure proper layout */
.container::after {
  content: "";
  display: table;
  clear: both;
}


/* Clear the float to ensure proper layout */
.container::after {
  content: "";
  display: table;
  clear: both;
}


/* Product Page CSS */

.photos {
  padding: 50px 0;
  text-decoration: none;
}

.photos .container {
  text-align: center;
}

.photos h2 {
  margin-bottom: 30px;
}

.photo-item {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
}

.photo-item img {
  width: 100%;
  height: auto;
}

.photo-item h3 {
  margin-top: 20px;
}

.photo-item p {
  margin-top: 10px;
}


/* Products Photos size */

.photo-item img {
  width: 300px; /* Adjust the desired width */
  height: 200px; /* Adjust the desired height */
}

/* This the CSS for Rapid Test  */
.photos_R {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
  padding: 50px 0;
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
  height: auto;
  font-family: 'Times New Roman', Times, serif;

}

.photos_P{
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
  padding: 50px 0;
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
  height: auto;
  font-family: 'Times New Roman', Times, serif;

}
 

  /* Add CSS rules for mobile devices */
  @media only screen and (max-width: 768px) {
    
    .container {
      padding: 0 10px;
    }

    .photo-item {
      width: 10;
      text-align: center;
      margin-bottom: 10px;

      padding: auto;
      
    }

    .photo-item a h3 {
      margin-top: 10px;
      font-size: 18px;
    }


  }

  /* Add CSS rules for desktop devices */
  @media only screen and (min-width: 769px) {
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }

